@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-hijau-tua: #01495b;
  --color-hijau: #05b5b3;
  --color-hitam: #2c2c2c;
  --font-sans: "Geist", sans-serif;
}

#navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.custom-scroll::-webkit-scrollbar {
  height: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 9999px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #2be5a6;
  border-radius: 9999px;
}
/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2be5a6 #ececec;
}
