@import url("https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-hijau-tua: #01495b;
  --color-hijau: #05b5b3;
  --color-hitam: #2c2c2c;
  --font-sans: "Geist", sans-serif;
}

html {
  scroll-behavior: smooth;
  
}

#navbar.scrolled #navContent {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(24px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

#navMenuItems {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.35s ease,
    opacity 0.25s ease;
}
#navInner.expanded #navMenuItems {
  max-height: 900px;
  opacity: 1;
}
.custom-scroll::-webkit-scrollbar {
  height: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #ececec;
  border-radius: 9999px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #2be5a6;
  border-radius: 9999px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2be5a6 #ececec;
}
